{% extends "base.html" %}
{% block title %}Sobre{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <h2 class="mb-4">Sobre o Laboratório</h2>
    </div>

    <div class="col-md-6">
        <div class="cards mb-4">
                        <div class="card-body">
                <h3 class="card-title">Nossa História</h3>
                <p class="card-text">O Laboratório Didático de Física Prof. João Hermínio tananan tananan.</p>
                <p class="card-text"Mais tananan tananan.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Infraestrutura</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">2 salas de laboratório equipadas</li>
                    <li class="list-group-item">Capacidade para 20 alunos simultâneos</li>
                    <li class="list-group-item">Sala de preparação técnica</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Contato</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                        labfisica.cct@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-geo-alt-fill me-2"></i>
                        Bloco B - Sala 02, Campus Juazeiro do Norte
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Equipe</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                        Professor: Thiago Santiago  - thiago.santiago@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                    Técnico: Felipe Cavalcante - felipe.cavalcante@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                    Professor: Mário Henrique - mario.pacheco@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                    Professor: Antônio Carlos - mario.pacheco@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                    Professor: Job Saraiva - mario.pacheco@ufca.edu.br
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                    Professor: Mário Henrique - mario.pacheco@ufca.edu.br
                    </li>

</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
