{% extends "base.html" %}
{% block title %}Disciplinas{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <h2 class="mb-4">Disciplinas Oferecidas</h2>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1599727277757-3f54e54ea618" class="card-img-top" alt="Mecânica">
            <div class="card-body">
                <h4 class="card-title">Mecânica</h4>
                <p class="card-text">Estudo experimental das leis fundamentais da mecânica clássica, incluindo cinemática e dinâmica.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Código: FIS101</li>
                    <li class="list-group-item">Carga Horária: 60h</li>
                    <li class="list-group-item">Pré-requisito: Cálculo I</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1615631615893-7bae3844e830" class="card-img-top" alt="Óptica">
            <div class="card-body">
                <h4 class="card-title">Óptica</h4>
                <p class="card-text">Experimentos em óptica geométrica e física, incluindo interferência e difração.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Código: FIS201</li>
                    <li class="list-group-item">Carga Horária: 60h</li>
                    <li class="list-group-item">Pré-requisito: Física II</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1599727277707-b429a4994c15" class="card-img-top" alt="Eletromagnetismo">
            <div class="card-body">
                <h4 class="card-title">Eletromagnetismo</h4>
                <p class="card-text">Práticas experimentais sobre campos elétricos, magnéticos e indução eletromagnética.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Código: FIS301</li>
                    <li class="list-group-item">Carga Horária: 60h</li>
                    <li class="list-group-item">Pré-requisito: Física III</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
