{% extends "base.html" %}
{% block title %}Pêndulo Simples{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <h2 class="mb-4">Simulação: Pêndulo Simples</h2>
    </div>

    <div class="col-lg-8">
        <div class="card h-100">
            <div class="card-body">
                <div class="simulation-container" id="pendulum-simulation">
                    <iframe src="https://editor.p5js.org/felipex/full/QmfJE31Lv" width="100%" height="400" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">Teoria</h4>
                <p class="card-text">
                    O pêndulo simples é um sistema físico fundamental que demonstra o movimento harmônico simples.
                    A frequência de oscilação depende do comprimento do fio e da aceleração da gravidade.
                </p>
                <h5 class="mt-4">Equações do Movimento</h5>
                <p class="card-text">
                    Para pequenas oscilações:
                    <ul>
                        <li>Período: T = 2π√(L/g)</li>
                        <li>Frequência: f = 1/T</li>
                        <li>onde L é o comprimento do fio e g é a aceleração da gravidade</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}