{% extends "base.html" %}
{% block title %}Recursos{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <h2 class="mb-4">Recursos do Laboratório</h2>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title"><i class="bi bi-book-fill me-2"></i>Materiais Didáticos</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/simulacoes" class="text-decoration-none">
                            <i class="bi bi-play-circle me-2"></i>Simulações
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/calculos" class="text-decoration-none">
                            <i class="bi bi-calculator me-2"></i>Cálculos Físicos
                        </a>
                    </li>
                    <li class="list-group-item">Vídeos Demonstrativos</li>
                    <li class="list-group-item">Guias de Práticas</li>
                    <li class="list-group-item">Roteiros de Laboratório</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title"><i class="bi bi-tools me-2"></i>Equipamentos Disponíveis</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Kits de Mecânica</li>
                    <li class="list-group-item">Equipamentos de Óptica</li>
                    <li class="list-group-item">Instrumentos de Medição</li>
                    <li class="list-group-item">Aparelhos de Eletromagnetismo</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="bi bi-download me-2"></i>Downloads</h4>
                <div class="row g-4">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="bi bi-file-pdf me-2"></i>
                                Manual de Segurança do Laboratório
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-file-earmark-text me-2"></i>
                                Formulário de Solicitação de Equipamentos
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="bi bi-file-excel me-2"></i>
                                Planilhas de Dados
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-file-pdf me-2"></i>
                                Normas de Utilização
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}